<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Frost</title>
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <h1>FROST</h1>
            <h5>A Web Service</h5>
        </div>
        <div class="col-md-6">
            <h3>
                Read mixed-format input files in your client.
            </h3>

            <h3>
                In one line of code.
            </h3>
            <ul>
                <li>Get the data back in a single, standardised object model</li>
                <li>Packaged in native data structures</li>
                <li>For: C++, Java, Python, C# or Go</li>
            </ul>
        </div>
        <div class="col-md-3">
            <ul class="nav nav-pills nav-stacked text-right">
                <li role="presentation"><a href="#">What sort of files?</a></li>
                <li role="presentation"><a href="#">Licence</a></li>
                <li role="presentation"><a href="#">Community</a></li>
                <li role="presentation"><a href="#">Source Code</a></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <hr>
            <nav class="navbar navbar-default">
                <ul class="nav navbar-nav navbar-left">
                    <div class="navbar-text">Developer Quickstart</div>
                    <li>
                        <div class="btn-group navbar-btn">
                            <button class="btn btn-default active">Python</button>
                            <button data-toggle="dropdown" class="btn btn-default dropdown-toggle">
                                <span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                            </ul>
                        </div>
                    </li>
                    <div class="navbar-text">Experiment</div>
                    <li>
                        <button class="btn navbar-btn btn-default">Playground</button>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div class="container">
<script src="static/js/jquery.min.js"></script>
<script src="static/js/bootstrap.min.js"></script>
</body>
</html>
