<div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-5">
        <div class="btn-group">
            <button class="btn btn-default active">Python</button>
            <button data-toggle="dropdown" class="btn btn-default dropdown-toggle">
                <span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li><a href="/quickstarts/python/">Python</a></li>
                <li><a href="#">Java</a></li>
                <li><a href="#">C++</a></li>
                <li><a href="#">C#</a></li>
                <li><a href="#">Go</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        To Read Your Files:
    </div>
    <div class="col-md-5">
        <pre>input_deck = Frost.Read("Your Directory")</pre>
    </div>
    <div class="col-md-3">
        <p>
            You need to add this <a href="#" class="alert-link">utility code</a> to
            your code to make it work.
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        To Retrieve a Key Value (for example):
    </div>
    <div class="col-md-5">
        <pre>value = input_deck.melting_points["titanium"]</pre>
    </div>
    <div class="col-md-3">
        <p>
            Seems you have a file <em>melting_points.xxx</em> in your directory.
        </p>
    </div>
</div>
<div class="row"><p>

    <div class="col-md-2">
    </div>
    <div class="col-md-2">
        <a href="#">More Examples</a>
    </div>
</div>