<button
        class="btn btn-default {{if .ShowInputTab}}active{{end}}"
        type="submit"
        formaction="/playground/refresh/input-tab">
    Input
</button>
<button
        class="btn btn-default {{if .ShowOutputTab}}active{{end}}"
        type="submit"
        formaction="/playground/refresh/output-tab">
    Frost
</button>

<div class="row">
    <div class="col-lg-12">
        <div {{if .ShowOutputTab}}class="hidden" {{end}}>
            <textarea class="form-control textarea-code" wrap="off" name="{{.InputTextElementName}}"
                      rows="35">{{.InputText}}</textarea>
        </div>
        <div {{if .ShowInputTab}}class="hidden" {{end}}>
            <textarea class="form-control textarea-code" wrap="off"
                      rows="35">{{.OutputText}}</textarea>
        </div>
    </div>
</div>