<!-- Whole thing is in a form so we can capture the input text area contents. -->
<form action="{{.FormAction}}" method="post">

    <div class="row">
        <div class="col-lg-2">
        </div>
        <div class="col-lg-2">
            <p><span class="glyphicon glyphicon-list-alt"></span>&ensp;Example Content</p>
        </div>
        <div class="col-lg-2">
            <p><span class="glyphicon glyphicon-folder-open"></span>&ensp;Whole Directory</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2">
            <button class="btn btn-default">
                <span class="glyphicon glyphicon-pencil"></span>&ensp;Type Something
            </button>
        </div>
        <div class="col-lg-2">
            <div class="btn-group">
                <a class="btn btn-default active" href="play-space-separated">Space Separated</a>
                <button data-toggle="dropdown" class="btn btn-default dropdown-toggle active">
                    <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li><a href="play-space-separated">Space Separated</a></li>
                    <li><a href="play-csv">Comma Separated</a></li>
                    <li><a href="#">"Ini-File" Style</a></li>
                    <li><a href="#">YAML</a></li>
                    <li><a href="#">JSON</a></li>
                    <li><a href="#">XML</a></li>
                </ul>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="btn-group">
                <button class="btn btn-default">Try Our Example</button>
                <button data-toggle="dropdown" class="btn btn-default dropdown-toggle">
                    <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li><a href="#">Try Our Example</a></li>
                    <li><a href="#">Upload Your Own</a></li>
                </ul>
            </div>
        </div>
        <div class="col-lg-2">
            <button class="btn btn-default" type="submit">
                <span class="glyphicon glyphicon-refresh"></span> Refresh
            </button>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="pull-right">
                Switch to
                <button
                        class="btn btn-default"
                        type="submit"
                        formaction={{.SwitchViewAction}}>
                    {{.SwitchViewLabel}}
                </button>
            </div>
        </div>
    </div>

    {{if .ShowSideBySide}} {{template "playgroundsidebyside.html" .}} {{end}}
    {{if .ShowTabbed}} {{template "playgroundtabbed.html" .}} {{end}}

</form>