
<div class="row">
    <div class="col-lg-6">
        <p>Input</p>
    </div>
    <div class="col-lg-6">
        <p><em>Frost</em></p>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
            <textarea class="form-control textarea-code" wrap="off" name="{{.InputTextFieldName}}"
                      rows="35">{{.InputText}}</textarea>
    </div>
    <div class="col-lg-6">
            <textarea class="form-control textarea-code" wrap="off"
                      rows="35">{{.OutputText}}</textarea>
    </div>
</div>